/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
 *  Created on : 2017-02-21, 11:59:12
 *  Author     : Mariusz Krzysztof Przybysz
 *  GitHub     : https://github.com/mariuszKrzysztofPrzybysz
*/

* {
    box-sizing: border-box;   
}

.calculator {
    margin: 0 auto;
    background-color: #0077b3;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1em;
}

.calculator  .on {
    color: white;
}

.calculator  #powerKey {
    background-color: red;
}

.calculator  td{
    width: 75px;
    background-color: #262626;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}

.calculator  tbody td:hover{
    background-color: gray;
}

 .calculator  input ,.calculator  textarea{
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    text-align: right;
    padding: 5px;
    background-color: #09cbfc;
    border-radius: 10px;
    outline: none;
}

.calculator  textarea {
    resize: none;
}